<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--配置映射处理器-->
    <!--beanNameUrlHandlerMapping 映射处理器-->
   <!-- <bean name="beanNameUrlHandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
    <bean name="/test1/mvc" class="com.demo.controller.MvcController"></bean>-->
    <bean id="testController" class="com.demo.controller.MvcController"></bean>
    <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!--多个路径对应一个controller-->
                <prop key="/test.do">testController</prop>
                <prop key="/hello.do">testController</prop>
            </props>
        </property>
    </bean>
</beans>